<h1>Contact</h1>

<div class="col-md-12">
  <div class="row">
    <%=link_to image_tag("facebook-button.png", size:"48x48"), "https://www.facebook.com/jack.lafritte.1"%> 
    <%=mail_to "etienne.coutures@epitech.eu", raw(image_tag("mail-button.png", size:"39x39"))%>  Etienne <b>CEO</b>
<br>
<%=link_to image_tag("facebook-button.png", size:"48x48"), "https://www.facebook.com/bender.t.rodriguez.3?fref=ts"%>
    <%=mail_to "benjamin.fenasse@epitech.eu", raw(image_tag("mail-button.png", size:"39x39"))%>  Benjamin  <b>CTO</b>
<br>
<%=link_to image_tag("facebook-button.png", size:"48x48"), "https://www.facebook.com/hugo.gilson"%>
<%=mail_to "hugo.gilson@epitech.eu", raw(image_tag("mail-button.png", size:"39x39"))%> Hugo <b>Developpeur Web</b>

<br>
<%=link_to image_tag("facebook-button.png", size:"48x48"), "https://www.facebook.com/gabriel.miro.92?fref=ts"%> 
<%=mail_to "gabriel.miro@epitech.eu", raw(image_tag("mail-button.png", size:"39x39"))%> Gabriel <b>Responsable Communication</b>
<br>
<%=link_to image_tag("facebook-button.png", size:"48x48"), "https://www.facebook.com/toglog.robinet?fref=ts"%>
<%=mail_to "gauthier.albien@epitech.eu", raw(image_tag("mail-button.png", size:"39x39"))%> Gautier <b>dev <s>PD</s> </b>
<br>
<%=link_to image_tag("facebook-button.png", size:"48x48"), "https://www.facebook.com/robin.weiersmuller?fref=ts"%>
<%=mail_to "robin.weiersmuller@epitech.eu", raw(image_tag("mail-button.png", size:"39x39"))%> robin <b>integrateur Web</b>
  </div>


<body>

<body/>
